@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-white: rgb(255, 255, 255);
  --color-white-off: rgb(235, 235, 235);
  --color-gray: rgb(220, 220, 220);
  --color-gray-dark: rgb(210, 210, 210);
  --color-black: rgb(35, 35, 35);
  --color-orange: rgb(250, 150, 50);

  --font-sans: 'Bantayog', ui-sans-serif, system-ui, sans-serif;
}

@font-face {
  font-family: 'Bantayog';
  src: url('/fonts/Bantayog.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}