@import "tailwindcss";

@font-face {
  font-family: 'Bantayog';
  src: url('/fonts/Bantayog.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {

  --color-white: rgb(255, 255, 255);
  --color-off-white: rgb(250, 250, 250);
  --color-gray: rgb(240, 240, 240);
  --color-dark-gray: rgb(95, 95, 95);
  --color-black: rgb(35, 35, 35);
  --color-orange: rgb(250, 150, 50);

  
  --font-sans: 'Bantayog', ui-sans-serif, system-ui, sans-serif;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}