@import "tailwindcss";
@import "tw-animate-css";

@theme {
 --color-background: rgb(250, 250, 250);
 --color-text: rgb(60, 60, 60);
 --color-primary: rgb(240, 240, 240);
 --color-secondary: rgb(230, 230, 230);
 --color-accent: rgb(250, 150, 50);

 --font-sans: 'Bantayog', ui-sans-serif, system-ui, sans-serif;
}

.dark {
 --color-background: rgb(42, 43, 53);
 --color-text: rgb(255, 255, 255);
 --color-primary: rgb(90, 91, 99);
 --color-secondary: rgb(170, 170, 175);
 --color-accent: rgb(255, 150, 50);
}

@font-face {
  font-family: 'Bantayog';
  src: url('/fonts/Bantayog.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}