@import "tailwindcss";
@import "@/shared/components/carousel/ui/style.css";
@import "@/shared/components/dotnav/ui/style.css";

@font-face {
  font-family: "SF Pro";
  src: url("./sf.woff2") format("woff2");
  font-weight: 1 1000;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: "SF Pro", ui-sans-serif, system-ui, sans-serif;
}

@theme {
  --color-text: rgb(30, 30, 35);
  --color-background: rgb(255, 255, 255);
  --color-primary: rgb(245, 245, 250);
  --color-secondary: rgb(210, 210, 215);
  --color-accent: rgb(255, 135, 50);
}

@layer base {
  html {
    scrollbar-width: thin;
    scrollbar-color: var(--color-secondary) transparent;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-optical-sizing: auto;
    text-rendering: optimizeLegibility;
    user-select: none;
  }

  :focus-visible {
    outline: 2px solid var(--color-accent);
    outline-offset: 3px;
  }
}
